/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
body {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: visible;
}
img {
  max-width:100%;
  height:auto
}
h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 600;
  margin-top:0px;
}
p:last-child {
  margin-bottom: 0;
}
a, button{
  text-decoration:none;
  color: #fff;
 }
a, a::before, a::after, i, button, img, input,
*::before, *::after {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
*:focus {
  outline:0px solid
}
a:focus {
  color: #fff;
  outline: medium none;
  text-decoration: none;
}
a:hover {
  color: #cee002;
  text-decoration: none;
}
ul{
  list-style: outside none none;
  margin: 0;
  padding: 0
}

.fix {
  overflow:hidden
}
.clear{
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/*preloader-area */
.table, .table-cell {
  display: table;
  height: 100%;
  margin: 0;
  width: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}

#scrollUp {
  background: #cee002 none repeat scroll 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  bottom: 30px;
  color: #ffffff;
  font-size: 14px;
  height: 45px;
  line-height: 44px;
  position: absolute;
  right: 30px;
  text-align: center;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  width: 45px;
}
.margin-0 {
  margin: 0px !important;
}
.margin-top-90 {
  margin-top: 90px !important;
}
.margin-bottom-90 {
  margin-bottom: 90px !important;
}
.margin-bottom-25 {
  margin-bottom: 25px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.margin-90 {
  margin-bottom: 90px !important;
  margin-top: 90px !important;
}
.padding-0 {
 padding: 0px !important;
}
.padding-top-80 {
 padding-top: 80px !important;
}
.padding-top-90 {
 padding-top: 90px !important;
}
.padding-bottom-90 {
  padding-bottom: 90px !important;
}
.padding-90 {
  padding-bottom: 90px !important;
  padding-top: 90px !important;
}
.overlay {
  background: rgba(0,0,0,0.9);
  display: block;
  height: 100%;
  width: 100%;
}

/*----------------------------------------*/
/*  3.  Header Area
/*----------------------------------------*/
.navbar-header {
	padding:32px 0;
}
.hero-wrapper{
  position:relative;
  height:500px;
  overflow:hidden;
}
.hero-wrapper:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  content: "";
  opacity: .7;
}
.ptb-100 {
    padding: 0px 0px 50px;
}
.hero-wrapper {
	background-image: url("img/bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	overflow: hidden;
	position: relative;
}
.hero-content {
	height: 100%;
	position: absolute;
	width: 100%;
}
.table{
	display:table;
	height:100%;
}
.table-cell{
	display:table-cell;
	vertical-align:middle;
}
.table-cell h1 {
  color: #fff;
  font-size: 40px;
  font-weight:500;
  margin-bottom: 20px;
}
.hero-content h3 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px;
}
.hero-content p {
  color: #ffffff;
  font-size: 14px;
  margin-top: 15px;

}
.hero-content p span {
  margin: 0 12px;
}
.hero-content a {
	background: #ffffff none repeat scroll 0 0;
	color: #555;
	display: inline-block;
	margin-top: 16px;
	padding: 8px 35px;
	text-transform: uppercase;
	font-weight:600;
	transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
	font-size:12px;
}
.hero-content a:hover {
  background: #cee002;
  color: #fff;
}
/*----------------------------------------*/
/*  4.  Demo Area
/*----------------------------------------*/
.section-title{
  margin-bottom: 30px;
}
.title{
	font-size:36px;
	font-weight:700;
	margin-bottom:30px;
}
.single-demo {
	background: #fff none repeat scroll 0 0;
	margin-bottom: 50px;
	position: relative;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
}
.single-demo:hover{
	box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2);
}
.demo-area {
  background: #fff none repeat scroll 0 0;
  padding-top: 90px;
}
.demo-img {
  background: rgba(0, 0, 0, 0) none no-repeat scroll center top / cover ;
  position: relative;
  transition: background 4s ease 0s;
  -webkit-transition: background 4s ease 0s;
  -moz-transition: background 4s ease 0s;
}
.demo-img > a{
	position:relative;
	z-index:9;
	display:block;
}
.demo-img > a::after {
	background-color: #000;
	content: "";
	left: 0;
	position: absolute;
	top: 0;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	z-index:1;
	width:100%;
	height:100%;
	opacity:0;
}
.single-demo:hover .demo-img a::after {
	opacity: .7;
}
.demo-img > a::before {
	color: #fff;
	content: "Live Preview";
	font-size: 14px;
	font-weight: 500;
	left: 0;
	letter-spacing: 1px;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: center;
	text-transform: capitalize;
	top: 50%;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
	z-index: 999;
}
.single-demo:hover  .demo-img > a:before{
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	opacity:1;
}
.demo-content {
	background: #f1f1f1 none repeat scroll 0 0;
	border-top: 1px solid #cee002;
	padding: 30px 0;
}
.demo-content h3 {
	font-size: 14px;
	margin: 0;
	text-transform: uppercase;
	font-weight:500;
}
.demo-content h3 a {
  color: #222;
}
.demo-content h3 a:hover{color:#cee002;}
.btn-white {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    margin-top: 5px;
    padding: 7px 16px;
    text-transform: uppercase;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    display:inline-block;
}
.btn-white:hover {
  box-shadow: 0 8px 10px #666;
} 
/*----------------------------------------*/
/*  9.  Feature Area
/*----------------------------------------*/
.section-title h1 {
    margin-bottom: 16px;
    margin-top: 0px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
}
.feature-list ul li {
  display: block;
  float: left;
  width: 33.33%;
  line-height: 36px;
  text-transform: capitalize;
}
.feature-list ul li::before {
  color: #cee002;
  content: "➞";
  margin-right: 10px;
}
/*----------------------------------------*/
/*  10.  Footer Area
/*----------------------------------------*/
.footer-top {
  background-color: #0d0f11 ;
  padding: 75px 0;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-logo h2 {
    color: #fff;
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}
.footer-social a {
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 32px;
  vertical-align: top;
  width: 32px;
}
.footer-social a i {
  display: block;
  line-height: 32px;
}
.footer-social a:hover {
  background-color: #fff;
  color: #222;
}
.footer-bottom {
  background-color: #cee002;
  padding: 23px 0;
}
.footer-bottom .copyright p {
  color: #fff;
  font-weight: 500;
  line-height: 22px;
  font-size: 15px;
}
.footer-bottom .copyright p a {
  color: #fff;
}
.footer-bottom .copyright p a:hover {
  color: #303030;
}
.footer-bottom .payment-method {
  margin-bottom: 0;
}
.footer-bottom .payment-method img{}

.feature-area {
  background: #131619 none repeat scroll 0 0;
}

.facebookImgThumb i {
border: 2px solid #b0b0b0;
padding: 0;
margin: 0;
vertical-align: middle;
width: 149px;
height: 116px;
display: inline-block;
background-position: center 25%;
background-repeat: no-repeat;
}
.facebookImgThumb p {
vertical-align: bottom;
font-size: 0.85em;
}
.facebookImgThumb {
margin: 5px;
display: inline-block;
width: 151px;
}
.facebookImgThumb:hover {
cursor: pointer;
}
.loader{
display:none;
/*set the div in the bottom right corner*/
position:fixed;
bottom:8px;
right:8px;
width:31px;
height:31px;
/*give it some background and border*/
background:url(https://dl.dropbox.com/u/1017142/ajax-loader.gif) no-repeat;
}